#maincontainer {
    position: absolute;
    height: 900px;
    width: 1680px;
    color: black;
    background-color: gray;
    border-radius: 10px;
    top: 5%;
    left: 5%;
}

#maincontainer .audio {
    position: absolute;
    /*
    height: 30px;
    width: 30px;
    color: black;*/
    bottom: 30px;
    left: 1250px;
    /*cursor: pointer;
    background-color: white;
    border:none*/
}